.main{
    border: 5px solid rgb(238 238 238);
    width: 813px;
    margin-top: 100px;
   margin-left: 250px;
   text-align: center;
}
.frame{
    padding: 5px;
    background-color: white;
    width: 800px;
}
    .header{
        background-color: rgb(238 238 238);
        margin-bottom: 5px;
        /* margin: auto; */
        height: 50px;
        position: relative; 
      
           
    }
    .header > .headero{
        position: absolute;
        padding-top: 15px;
        padding-left: 390px;
        text-align: center;
        font-size: 8 px;
        
    }
    .nav{
        background-color: rgb(238 238 238);
        height: 40px;
        margin-bottom: 5px;
        position: relative;
    }
    .nav > .navo{
        position: absolute;
        padding-top: 12px ; 
         padding-left: 350px ;
         font-size: 8 px;
    }