.main{
    border: 3px solid rgb(238 238 238);
    width: 815px;
    margin-top: 100px;
   margin-left: 250px;
   text-align: center;
}
.frame{
    padding: 4px;
    background-color: white;
    width: 799.5px;
}
    .header{
        background-color: rgb(238 238 238);
        margin-bottom: 5px;
        /* margin: auto; */
        height: 50px;
        position: relative; 
      
           
    }
    .header > .headero{
        position: absolute;
    padding-top: 15px;
        padding-left: 390px;
        text-align: center;
        font-size: 8 px;
        
    }
    .nav{
        background-color: rgb(238 238 238);
        height: 40px;
        margin-bottom: 5px;
        position: relative;
    }
    .nav > .navo{
        position: absolute;
        padding-top: 12px ; 
         padding-left: 350px ;
         font-size: 8 px;
    }
    .container{
        display: flex;
         height: 200px;
         /* margin-bottom: 5px; */
         flex-direction: row;
         margin-bottom: 5px;
        
         
    }
    .one{
        background-color: rgb(238 238 238);
        height: 200px;
        width: 25%;
        /* margin: 0px 5px 0px 0px; */
      
        top: 0;
        bottom: 0;
        margin: 0px 5px 0px 0px;
        position: relative; 
       
    }
    .two{
        background-color: rgb(238 238 238);
        height: 200px;
        width: 50%;
        margin: 0px 5px 0px 0px;
        position: relative; 
    }
    .three{
        background-color: rgb(238 238 238);
        height: 200px;
        width: 25%;
        margin: 0px 0px 0px 0px;
        position: relative; 
    }
    
     .one > .oneo{
         position: absolute;
         padding-top: 85px;
        padding-left: 80px;
        font-size: 8 px;
     }
     .two > .twoo{
         position: absolute;
         padding-top: 85px;
        padding-left: 160px;
        font-size: 8 px;
     }
     .three > .threeo{
         position: absolute;
         padding-top: 85px;
        padding-left: 80px;
        font-size: 8 px;
     }
     .footer{
        background-color: rgb(238 238 238);
        height: 40px;
        position: relative;
    }
    .footer > .footero{
        position: absolute;
        padding-top: 12px;
        padding-left: 390px;
        font-size: 8 px;
    }